# =====================================================
# Python
# =====================================================

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

# =====================================================
# Jupyter / Notebook
# =====================================================

.ipynb_checkpoints/

# =====================================================
# VSCode
# =====================================================

.vscode/

# =====================================================
# Terraform
# =====================================================

.terraform/

*.tfstate
*.tfstate.*
crash.log

*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =====================================================
# Sistema Operacional
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Spark / Glue
# =====================================================

spark-warehouse/

metastore_db/

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Arquivos temporários
# =====================================================

tmp/
temp/